// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";

.btn {
  min-width: 80px;
}

/**
 *  Validation
 */
form label.error {
  color: $brand-danger;
}

/**
 * Progress
 */
.progress{
  margin-bottom: 0;
  height: 5px;
}

.progress .progress-bar{
  width: 100%;
 animation: progress-bar-stripes 0.5s linear infinite;
}

/**
 *  Helpers
 */
.width-200 {
  width: 200px !important;
}

.max-width-200 {
  max-width: 200px !important;
}

.min-width-110 {
  min-width: 110px !important;
}

.padding-r-30 {
  padding-right: 30px !important;
}

.margin-r-30 {
  margin-right: 30px !important;
}

.margin-t-10 {
  margin-top: 10px !important;
}

.inline-block {
  display: inline-block;
}